record(aai, "${P}${R}SlowOrbRaw-Mon"){
    field(DESC, "Synchronized orbit from BPMs")
    field(EGU, "um")
    field(FTVL, FLOAT)
    field(NELM, 320)
}

record(longin, "${P}${R}SlowOrbTimeoutCnt-Mon"){
    field(DESC, "Timeouts in SlowOrbRaw-Mon")
}
